.cs-color-scheme-select,
.cs-icon-select {
    position: absolute;
    top: -400px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
    transition: all, .3s, ease-out;
    left: 0
}
.btn,
.cs-icon-select-option,
.event a,
.event-info--close,
.filter,
.user-item {
    cursor: pointer
}
.cs-add-btn,
.filter-nav-close,
.filter-overlay-nav li a,
.link-effect,
.user-item,
header a,
header nav a {
    text-decoration: none
}


*,
:after,
:before {
    box-sizing: border-box
}

.event-info--title {
    font: 3.125em/1.2 LyonText, 'Lato', sans-serif;
}
@media all and (max-width: 600px) {
    .event-info--title,
    h1 {
        font-size: 2.2em;
        line-height: 1em
    }
}

i {
    font-style: italic
}
.body-copy p {
    font: 1rem/1.55 'Lato', sans-serif;
}
.cs-color-scheme-select-input,
.meta-data {
    font: 1rem/1.55 Monaco, monospace
}

.bolded {
    font-weight: 700
}
.two-col-text {
    margin-bottom: 1em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    -ms-column-gap: 2rem;
    -o-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    -ms-column-width: 300px;
    -o-column-width: 300px;
    column-width: 300px
}
.two-col-text p {
    orphans: 5;
    widows: 3
}

.no-pad-bot {
    padding-bottom: 0!important
}
.color-scheme {
    display: inline-block;
    width: 200px;
    overflow: hidden
}
.color-scheme-color {
    display: block;
    float: left;
    width: 33.33%;
    height: 30px;
    text-indent: -999em
}
.cs-color-scheme-select-input {
    line-height: 40px
}
.cs-color-scheme-select,
.cs-icon-select-input {
    font: 1rem/1.25 "GT Pressura", 'Inconsolata', Monaco, monospace
}
.cs-color-scheme-select {
    padding: 1em;
    background: #fff;
    display: none;
    opacity: 0
}
.cs-color-scheme-select.open {
    display: block;
    opacity: 1
}
.cs-color-scheme-select-option {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    transition: all, .3s, ease-out
}
.cs-color-scheme-select-option:hover {
    background: #e6e6e6
}
.cs-color-scheme-select-default {
    display: block
}
.cs-color-scheme-select-option-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border-radius: 15px;
    border: 1px solid #e1e1e1;
    text-indent: -999em
}
.article-body ol,
.article-body p,
.article-body ul,
.form .form-row .form-row-body .form-row-body-segment label {
    margin-bottom: 1em
}
.icon {
    display: inline-block
}
.icon a {
    display: block;
    height: 50px;
    width: auto;
    padding: 8px
}
.icon a:hover {
    background: #f5f5f5
}
.icon a svg {
    height: 100%
}
.cs-icon-select-input {
    line-height: 40px
}
.cs-icon-select {
    font: 1rem/1.25 "GT Pressura", 'Inconsolata', Monaco, monospace;
    padding: 1em;
    background: #fff;
    display: none;
    opacity: 0
}
.cs-icon-select.open {
    display: block;
    opacity: 1
}
.cs-icon-select-option {
    display: inline-block;
    height: 54px;
    padding: 12px;
    text-align: center;
    transition: all, .3s, ease-out
}
.cs-icon-select-option:hover {
    background: #e6e6e6
}
.cs-icon-select-option svg {
    height: 100%
}
.cs-icon-select-default {
    display: block;
    width: auto
}
.cs-icon-fake-input .cs-selected-icon {
    position: relative;
    display: inline-block;
    margin-right: 8px
}
.cs-icon-fake-input .cs-selected-icon:hover:after {
    content: 'X';
    color: #f2706f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: Graphik;
    font-size: 2em;
    line-height: 1em;
    text-align: center
}
.cs-icon-fake-input svg {
    height: 30px
}
.cs-add-btn {
    display: inline-block;
    font-size: 60px;
    line-height: .2em;
    vertical-align: top;
    text-align: centre;
    width: 30px;
    color: #b4b4b4
}
.field-errors,
.form,
input,
label,
select,
textarea {
    font: 1rem/1.25 "GT Pressura", 'Inconsolata', Monaco, monospace
}
.cs-add-btn:hover,
.form .label-focus {
    color: #003da6
}
.field-errors,
input,
label,
select,
textarea {
    -webkit-appearance: none;
    border-radius: 0
}
.form {
    margin-top: 3em
}
.form.no-mgt {
    margin-top: 0
}
.form .form-row {
    padding-bottom: 2em
}
.form .form-row>label {
    display: block;
    padding: 10px 0
}
.form .form-row .form-row-body {
    position: relative
}
@media all and (min-width: 599px) {
    .form .form-row>label {
        float: left;
        clear: left;
        width: 180px
    }
    .form .form-row .form-row-body {
        margin-left: 180px;
        max-width: 430px
    }
    .aligned {
        margin-left: 180px
    }
}
.form .form-row .form-row-body .form-row-body-segment {
    position: relative;
    float: right;
    max-width: 45%
}
.form .form-row .form-row-body .form-row-body-segment:first-child,
header .site-title {
    float: left
}
.form .form-row .form-row-body .form-row-body-segment input,
.form .form-row .form-row-body .form-row-body-segment label {
    display: block;
    max-width: 100%
}
.form .form-row:after {
    content: '';
    display: table;
    clear: both
}
.form .input-text {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 10px 0
}
.form .input-text:focus {
    outline: 0;
    border-width: 2px;
    padding-bottom: 9px;
    border-color: #003da6
}
.form input[type=checkbox] {
    -webkit-appearance: checkbox
}
.form .styled-checkbox {
    padding-top: 10px
}
.form .styled-checkbox input {
    position: absolute;
    left: -9999px
}
.form .styled-checkbox label {
    display: table;
    padding: 10px;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 0;
    position: relative
}
.form .styled-checkbox label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: 0 0;
    transition: background .1s ease-out
}
.form .styled-checkbox input:checked+label:after {
    background: #003da6
}
.form textarea.input-text {
    border-top: 1px solid #000;
    padding-top: 9px
}
.form textarea.input-text:focus {
    padding-top: 8px
}
.form .input-select {
    padding: 9px 10px;
    border: 1px solid #000;
    border-radius: 0;
    background: 0 0;
    -webkit-appearance: none
}
.form .input-select:focus {
    outline: 0;
    border-width: 2px;
    padding: 8px 9px;
    border-color: #003da6
}
.form .input-tooltip {
    display: none;
    position: absolute;
    top: 5.5em;
    left: 0;
    padding: .6em;
    color: #003da6;
    background: #f5f5f5;
    clear: both;
    z-index: 10
}
.form .input-tooltip:before {
    position: absolute;
    content: '';
    top: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f5f5f5
}
.form .field-errors {
    color: #f2706f;
    padding-top: .4em;
    clear: both
}
.form .field-errors+.field-errors {
    padding-top: 0
}
.btn {
    border: 0;
    padding: .6em 2em;
    background: 0 0
}
.btn.primary {
    background: #003da6;
    color: #fff
}
.btn.danger {
    background: #fe5236;
    color: #fff
}
.alert {
    background: #bbd9ec;
    padding: .5em .75em;
    font-family: "GT Pressura", 'Inconsolata', Monaco, monospace;
    color: #003da6;
    line-height: 1.6
}
.article-body,
.link-effect,
header nav a {
    font: 1rem/1.25 "GT Pressura", 'Inconsolata', Monaco, monospace
}
.alert-danger {
    background: #f2dede;
    color: #a94442
}
.alert-success {
    background: #e1f0d7;
    color: #3c763d
}
.event-background-color,
.filter-overlay-bg {
    background: #003da6
}
.site-wrapper {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-left: 180px;
    padding-right: 60px;
}
.left-align-wrapper {
    width: 90%;
    float: left
}
@media screen and (max-width: 900px) {
    .site-wrapper {
        padding: 0 30px
    }
    .left-align-wrapper {
        width: 100%
    }
}
.event-info-open .left-align-wrapper {
    padding-right: 35%
}
.article-body {
    margin-top: 3em;
    max-width: 36em
}
header {
    padding: 32px 0;
    margin-bottom: 32px
}
header a {
    color: #000;
    transition: all, .3s, ease-out
}
.category-title,
header a:hover {
    color: #003da6
}
@media screen and (max-width: 900px) {
    header .site-title {
        margin-left: 0
    }
}
header .site-title a {
    position: relative;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    width: 3.3em
}
header .site-title a:after,
header .site-title a:before {
    position: absolute;
    top: 0
}
header .site-title a:before {
    content: '[';
    left: -1em
}
header .site-title a:after {
    content: ']';
    right: -1em
}
@media all and (max-width: 600px) {
    .category-title {
        display: block
    }
}
header nav {
    float: right
}
@media all and (max-width: 400px) {
    header nav {
        float: none;
        clear: both;
        padding-top: 1em
    }
}
header nav ul li {
    display: inline-block;
    margin-left: 2em
}
header nav ul li:first-child {
    margin-left: 0
}
.link-effect,
header nav a {
    position: relative;
    color: gray
}
.link-effect:after,
.link-effect:before,
header nav a:after,
header nav a:before {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .3s ease-out
}
.link-effect:before,
header nav a:before {
    content: '[';
    left: -.3em
}
.link-effect:after,
header nav a:after {
    content: ']';
    right: -.3em
}
.link-effect:hover:before,
header nav a:hover:before {
    left: -1.1em;
    opacity: 1
}
.link-effect:hover:after,
header nav a:hover:after {
    right: -1.1em;
    opacity: 1
}
.events-list {
    margin-bottom: 5em
}
.month-range.hidden ul {
    display: none
}
.error-emoji {
    display: inline-block;
    width: 35px;
    margin-bottom: -10px;
    margin-left: 5px
}
.month-title {
    font-size: 15px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
    padding-top: 16px;
    line-height: 1
}
.page-intro-inner {
    border-bottom: 1px solid #000;
    padding-bottom: 48px;
    padding-top: 16px
}
.no-records,
.page-intro-title {
    padding-bottom: 16px;
    padding-top: 16px
}
.page-intro p {
    width: 100%;
    max-width: 500px
}
.no-records {
    line-height: 35px
}
.page-intro-title {
    color: #003da6
}

.event a:hover,
.event.event--active a {
    color: #003da6
}

.event.event--active a .event-item-icon {
    -webkit-transform: rotate(0)
}

.event.event--active a .event-item-icon:last-child {
    margin-right: 10px
}

.event.event--active a .event-item-icon svg {
    height: 24px;
    margin-right: 6px;
    padding-top: 0;
    width: auto
}
.event-item-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 0;
    width: 180px
}
.event-item-title,
.offset-wrapper,
.page-intro {
    padding-left: 150px;
    display: block;
    position: relative
}
@media all and (max-width: 600px) {
    .event-item-date {
        position: relative;
        padding-bottom: 0
    }
    .event-item-date .meta-data {
        color: #003da6
    }
    .event-item-title,
    .offset-wrapper,
    .page-intro {
        padding: .4em 0 0
    }
}
.event-item-title .event-item-inner,
.offset-wrapper .event-item-inner,
.page-intro .event-item-inner {
    padding: 16px 0;
    border-bottom: 1px solid #000
}
.event-item-title h3,
.offset-wrapper h3,
.page-intro h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}
.event-item-icons {
    float: left;
    height: 21px
}
@media all and (max-width: 600px) {
    .event-item-title .event-item-inner,
    .offset-wrapper .event-item-inner,
    .page-intro .event-item-inner {
        padding-top: 5px
    }
    .event-item-icons {
        position: absolute;
        top: -18px;
        right: 0
    }
}
.event-item-icon {
    display: block;
    float: left;
    -webkit-transform: rotate(-90deg);
    transition: all, .3s, ease-out
}
.event-item-icon svg {
    height: 0;
    margin: 0;
    padding-top: 0px;
    top: 0px;
    transition: all, .3s, ease-out
}
@media all and (max-width: 600px) {
    .event-item-icon {
        -webkit-transform: rotate(0)
    }
    .event-item-icon:last-child {
        margin-right: 0!important
    }
    .event-item-icon svg {
        height: 18px!important;
        margin-right: 6px;
        padding-top: 0;
        width: auto
    }
}
.event-primary-color {
    color: #fff
}
.event-secondary-color {
    color: #ed6f6d
}
.event-info {
    padding: 5%;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0
}
@media all and (min-width: 750px) {
    .event-info {
        width: 50%;
        padding: 60px
    }
}
@media all and (min-width: 1200px) {
    .event-info {
        width: 50%;
        max-width: none
    }
}
.event-info .body-copy p {
    margin-bottom: 1em
}
.event-info--metadata,
.event-info--title {
    margin-bottom: 40px
}
.event-info>* {
    opacity: 0;
    max-width: 550px
}
.event-info-open .event-info {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.event-info-open .event-info>* {
    opacity: 1
}
.event-info--close {
    position: absolute;
    right: 5%;
    top: 32px;
    width: 20px
}
@media all and (min-width: 600px) {
    .event-info--close {
        right: 60px
    }
}
.event-info--close img {
    width: 100%
}
.event-info--title {
    margin-top: 60px
}
.event-info--date,
.event-info--location,
.event-info--time {
    position: relative;
    padding: 4px 0 4px 26px
}
.event-icon {
    width: 15px;
    position: absolute;
    top: 6px;
    left: 0
}
.event-info--navigation {
    display: block;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 60px;
    padding-top: 10px
}
.event-info--nav-arrows {
    float: right
}
.event-info--admin {
    margin-top: 30px
}
.event-info--admin,
.event-info--share {
    float: left;
    line-height: 22px
}
.event-info--admin a,
.event-info--share a {
    position: relative;
    margin-right: .6em;
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-out
}
.event-info--admin a:after,
.event-info--admin a:before,
.event-info--share a:after,
.event-info--share a:before {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .3s ease-out
}
.event-info--admin a:before,
.event-info--share a:before {
    content: '[';
    left: -.2em
}
.event-info--admin a:after,
.event-info--share a:after {
    content: ']';
    right: -.2em
}
.event-info--admin a:hover:before,
.event-info--share a:hover:before {
    left: -.6em;
    opacity: 1
}
.event-info--admin a:hover:after,
.event-info--share a:hover:after {
    right: -.6em;
    opacity: 1
}
.nav-arrows--arrow {
    width: 12px;
    float: left
}
.nav-arrows--arrow img {
    width: 100%;
    display: block
}
.nav-arrows--arrow:nth-child(2) {
    margin-left: 10px
}
.filter-overlay-bg {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    position: fixed;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 10
}
.filter-overlay-nav {
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%
}
.filter-overlay-nav.active,
.user-item {
    display: block
}
.filter-overlay-nav ul {
    padding: 10%
}
@media all and (max-width: 800px) {
    .filter-overlay-nav ul {
        padding-top: 20%
    }
}
.filter-overlay-nav li {
    margin-bottom: 1em;
    font: 3.125em/1.2 LyonText, 'Inconsolata', serif;
    color: #fff;
    transition: .2s ease-out color;
    padding-right: 1.55em
}
.filter-overlay-nav li:hover {
    color: #f47270
}
.filter-overlay-nav li:hover svg .st0 {
    fill: #f47270
}
@media all and (max-width: 600px) {
    .filter-overlay-nav li {
        font-size: 1.8em
    }
}
.filter-nav-close,
.nav-num {
    font: 1rem/1.25 "GT Pressura", 'Inconsolata', Monaco, monospace
}
.filter-overlay-nav li a {
    position: relative;
    color: inherit
}
.filter-nav-close,
.nav-close-bracket,
.nav-num,
.nav-open-bracket {
    position: absolute;
    top: 0
}
.filter-overlay-nav li svg {
    width: 1.4em;
    max-height: 1em;
    float: left;
    display: block
}
.filter-overlay-nav li svg .st0 {
    fill: #fff;
    transition: .2s ease-out fill
}
.nav-num {
    width: 46px;
    right: -56px
}
.nav-num-inner {
    opacity: 0;
    padding: 0 10px
}
.nav-open-bracket {
    left: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px)
}
.nav-close-bracket {
    right: 0;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px)
}
.filter-nav-close {
    right: 0;
    color: #fff;
    padding: 10%;
    margin-top: -2px
}
@media all and (max-width: 800px) {
    .filter-nav-close {
        padding: 1em 0;
        left: 10%
    }
}
.user-item {
    color: #000;
    position: relative
}
.user-item:hover {
    color: #003da6
}
.user-item:hover .event-item-icon {
    -webkit-transform: rotate(0)
}
.user-item:hover .event-item-icon:last-child {
    margin-right: 10px
}
.user-item:hover .event-item-icon svg {
    height: 24px;
    margin-right: 6px;
    padding-top: 0;
    width: auto
}
.events-count {
    float: right;
    margin-right: .5em
}