
#header {
    display: flex;
    justify-content: space-between;
    color: #f07060;
    margin-bottom: 15px;
    top: 20px;
    z-index: 10;

    span {
        em {
            display: none;
            font-style: normal;
            color: rgba(0, 0, 0, 0.35);
            padding-left: 10px;
        }
    }

    @media only screen and (min-width: 769px) {
        margin-bottom: 25px;
        top: 0;
        padding-top: 25px;
        margin-bottom: -1px;
        padding-bottom: 24px;
        background: white;
        z-index: 1;
        border-bottom: 1px rgba(0, 0, 0, 0.85) solid;

        span {
            em {
                display: inline;
            }
        }
        
    }
}

.back-button {
    cursor: pointer;
    .back-button-icon {        
        display: inline-block;
        transform: rotate(-180deg);
        &::before {
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            z-index: -1;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 8em;
        }
    }

    .back-button-text {
        padding-left: 5px;
    }
}